<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<title>To Do List</title>
		{% load static%}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
	</head>
	<body ng-app="toDo" ng-controller="toDoController">
		<div class="container">
		<h1>To Do List</h1>

		<form ng-submit="todoAdd()">{% csrf_token %}
			<div class="form-check mb-2 mr-sm-2 mb-sm-0">
				<input type="text" placeholder="Add a new to do..." ng-model="todoInput" class="form-control mb-2 mr-sm-2 mb-sm-0l">
			</div>
			<button type="submit" ng-click="saveData()" class="btn btn-success">Submit</button>
		</form>

		<ul class="list-group">
			<div ng-repeat="todo in todoList">
			  <li class="list-group-item"><input type="checkbox" ng-model="todo.done" class="form-check-input"> <span ng-bind="todo.todoText"></span></li>
			</div>
		</ul>
		<div class="container">
			<button ng-click="remove()" class="btn btn-info">Done</button>
		</div>

	</div>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src = "{% static 'js/todo.js' %}">
		</script>
	</body>
</html>